{% extends "layout.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/99/three.js"></script>
<script src="/static/js/OrbitControls.js"></script>
<script src="/static/js/water-material.js"></script>
<script src="/static/js/OBJLoader.js"></script>
<script src="/static/js/MTLLoader.js"></script>

{% if ship_results %}
<script type="text/javascript">
  ship_result_list = []
  {% for ship in ship_results: %}

  one_ship = [];
  {% for i in range(time|length): %}
  one = [];
  one.push({{ time[i] }});//0.Time
  one.push({{ ship[i][0]}});//1.psi
  one.push({{ ship[i][1]}});//2.x
  one.push({{ ship[i][2]}});//3.y
  one_ship.push(one);
  {% endfor %}

  ship_result_list.push(one_ship)
  {% endfor %}


  var count = 0;
  window.virtual_ship_mesh_list = []
  {% for i in range(ship_results|length): %}
  {% if i >0 %}
  window.virtual_ship_mesh_list.push(new THREE.Object3D())
  {% endif %}
  {% endfor %}

  window.real_ship_mesh = new THREE.Object3D();

  window.addEventListener('load', init);

  function init() {

    var clock = new THREE.Clock();

    const width = 960;
    const height = 540;

    const renderer = new THREE.WebGLRenderer({
      canvas: document.querySelector('#myCanvas'),
      antialias:true,
    });
    renderer.setPixelRatio(window.devicePixelRatio);
    renderer.setSize(width, height);

    const scene = new THREE.Scene();

    const camera = new THREE.PerspectiveCamera(60, width / height, 1, 10000);
    camera.position.set({{init_camera_position_x}}, {{init_camera_position_y}}, {{init_camera_position_z}});
    camera.lookAt(new THREE.Vector3({{init_camera_look_at_x}}, {{init_camera_look_at_y}}, {{init_camera_look_at_z}}));
    
    {% if grid_visualizing == 'on' %}
    const grid = new THREE.GridHelper({{grid_helper_size}}, {{grid_helper_step}});
    grid.rotation.x = Math.PI / 2; //for x-y grid
    scene.add(grid);
    {% endif %}

    controls = new THREE.OrbitControls(camera, renderer.domElement);
    controls.minPolarAngle = - Math.PI * 0.495;

    const geometry = new THREE.CubeGeometry({{ L }}, {{ B }}, {{ d }});
    
    {% if ship_type == 'box' %}
    // virtual ship only
    {% for i in range(ship_results|length): %}
    {% if i >0 %}
    var v_material = new THREE.MeshBasicMaterial({ color: {{ ship_box_virtual_color }} });
    v_material.opacity = 0.0
    window.virtual_ship_mesh_list[{{i-1}}] = new THREE.Mesh(geometry, v_material);
    scene.add( window.virtual_ship_mesh_list[{{i-1}}]);
    {% endif %}
    {% endfor %}

    // real ship
    const r_material = new THREE.MeshBasicMaterial({ color: {{ ship_box_real_color }} });
    window.real_ship_mesh = new THREE.Mesh(geometry, r_material);
    scene.add(window.real_ship_mesh);
    {% endif %}
    
    {% if ship_type == 'ship' %}
    // virtual ship only
    {% for i in range(ship_results|length): %}
    {% if i >0 %}
    new THREE.MTLLoader().setPath('/static/3d_model/').load('wakeboard_virtual.mtl',function(materials){
        materials.preload();
        
        new THREE.OBJLoader().setPath('/static/3d_model/')
                             .setMaterials(materials)
                             .load('wakeboard_virtual.obj',function (object){
            objmodel = object.clone();
            objmodel.scale.set({{ L }}, {{ B }}, {{ d }});
            objmodel.position.set(0, 0, 0);
            // ship_mesh = new THREE.Object3D();
            // ship_mesh.add(objmodel);
            window.virtual_ship_mesh_list[{{i-1}}].add(objmodel)
            scene.add(window.virtual_ship_mesh_list[{{i-1}}]);
            // window.virtual_ship_mesh_list.push(ship_mesh)
        });
        console.log(window.virtual_ship_mesh_list);
    });
    {% endif %}
    {% endfor %}

    // real ship
    new THREE.MTLLoader().setPath('/static/3d_model/').load('wakeboard.mtl',function(materials){
        materials.preload();
        new THREE.OBJLoader().setPath('/static/3d_model/')
                             .setMaterials(materials)
                             .load('wakeboard.obj',function (object){
            objmodel = object.clone();
            objmodel.scale.set({{ L }}, {{ B }}, {{ d }});
            objmodel.position.set(0, 0, 0);
            // window.real_ship_mesh = new THREE.Object3D();
            window.real_ship_mesh.add(objmodel);
            scene.add(window.real_ship_mesh);
        });
        console.log(window.real_ship_mesh);
    });
    {% endif %}

    {% if axis_visualizing == 'on' %}
    const axis = new THREE.AxisHelper({{ axis_length }});
    scene.add(axis);
    axis.position.set(0, 0, 0);
    {% endif %}

    // Add environmental light
    var light2 = new THREE.AmbientLight(0xffffff);
    scene.add(light2);

    // Add directional Light
    const directionalLight = new THREE.DirectionalLight( 0xffff55 , 1);
    directionalLight.position.set( -600, 300, 600 );
    scene.add(directionalLight);

    {% if water_visualizing == 'on' %}
    // Load textures
    const waterNormals = new THREE.ImageUtils.loadTexture( '/static/textures/waternormals.jpg' );
    waterNormals.wrapS = waterNormals.wrapT = THREE.RepeatWrapping; 

    // Create the water effect
    const water = new THREE.Water( renderer, camera, scene, {
      textureWidth: 512,
      textureHeight: 512,
      waterNormals: waterNormals,
      distortionScale: 50,
      noiseScale: .8,
      alpha: 1.0,
      sunDirection: directionalLight.position.normalize(),
      sunColor: {{sun_color}},
      waterColor: {{water_color}},
    } );

    const waterSurface = new THREE.Mesh(
      new THREE.PlaneGeometry( 1000, 1000, 10, 10 ),
      water.material
    );
    waterSurface.add(water);
    scene.add(waterSurface);
    {% endif %}


    {% if sky_visualizing == 'on' %}
    var aCubeMap = THREE.ImageUtils.loadTextureCube([
        '/static/textures/skybox/px.jpg',
        '/static/textures/skybox/nx.jpg',
        '/static/textures/skybox/py.jpg',
        '/static/textures/skybox/ny.jpg',
        '/static/textures/skybox/pz.jpg',
        '/static/textures/skybox/nz.jpg',
    ]);
    aCubeMap.format = THREE.RGBFormat;
    aCubeMap.mapping = THREE.CubeReflectionMapping;


    var aShader = THREE.ShaderLib['cube'];
    aShader.uniforms['tCube'].value = aCubeMap;

    var aSkyBoxMaterial = new THREE.ShaderMaterial({
      fragmentShader: aShader.fragmentShader,
      vertexShader: aShader.vertexShader,
      uniforms: aShader.uniforms,
      depthWrite: false,
      side: THREE.BackSide,
    });

    var aSkybox = new THREE.Mesh(
      new THREE.BoxGeometry(1000, 1000, 1000),
      aSkyBoxMaterial
    );
    scene.add(aSkybox);
    {% endif %}

    var animationStartTime = new Date().getTime();
    animate();

    function animate() {

      var currentTime = new Date().getTime();
      count = Math.round((currentTime - animationStartTime) / 1000 * {{ animation_speed }});

      if (count >= one_ship.length - 1) {
        animationStartTime = new Date().getTime();
        count = 0;
      }
      document.getElementById('time').innerHTML = ship_result_list[0][count][0];

      {% for i in range(ship_results|length): %}
      {% if i ==0 %}
      window.real_ship_mesh.position.x = ship_result_list[{{i}}][count][2];
      window.real_ship_mesh.position.y = ship_result_list[{{i}}][count][3];
      window.real_ship_mesh.rotation.z = ship_result_list[{{i}}][count][1];
      {% else %}
      window.virtual_ship_mesh_list[{{i-1}}].position.x = ship_result_list[{{i}}][count][2];
      window.virtual_ship_mesh_list[{{i-1}}].position.y = ship_result_list[{{i}}][count][3];
      window.virtual_ship_mesh_list[{{i-1}}].rotation.z = ship_result_list[{{i}}][count][1];
      {% endif %}
      {% endfor %}

      {% if sky_visualizing == 'on' %}
      aSkybox.position.set(camera.position.x, camera.position.y, camera.position.z);
      {% endif %}

      renderer.clear();
      controls.update();
      renderer.render(scene, camera);
      var elapsed = clock.getElapsedTime()
      requestAnimationFrame(animate);
      {% if water_visualizing == 'on' %}
      water.render();
      water.material.uniforms.time.value = elapsed;
      {% endif %}
    }
	}
</script>
{% endif %}

<div class="container">
  <h2>Results</h2>
  <div class="info">
    TIME : <span id="time"></span>
  </div>
  <canvas id="myCanvas"></canvas>

</div>





{% endblock %}